@use "base/variables" as v;
@use "base/mixins" as m;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000bd;
  opacity: 0;
  pointer-events: none;

  &--show {
    opacity: 1;
    pointer-events: unset;
  }

  &__container {
    max-width: 60rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem 2.5rem;
    margin: 0 auto;
    transform: translateY(10rem);
  }

  &__title {
    font-size: 3rem;
    text-align: center;
  }

  &__formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__bloque {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin-bottom: 1rem;

    @include m.tablet {
      font-size: 1.5rem;
    }
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
  }

  &__textArea {
    width: 100%;
    height: 10rem;
  }

  &__cambios {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @include m.tablet {
      flex-direction: row;
      justify-content: space-around;
      gap: 2rem;
    }
  }

  &__actualizar {
    @include m.boton(v.$azul, v.$blanco);
    width: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    @include m.tablet {
      margin-bottom: 0rem;
    }
  }

  &__cancelar {
    @include m.boton(v.$verdeOscuro, v.$blanco);
    width: auto;
    border-radius: 1rem;
  }
}
