@use "base/variables" as v;
@use "base/mixins" as m;

.usuarios {
  @include m.contenedor;
  padding: 1rem;
  border: 1px solid v.$amarilloLimon;

  &__sinregistros {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
  }

  &__titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
  }

  &__navegacion {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include m.desktop {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &__crear {
    @include m.boton(v.$azul, v.$blanco);
    width: auto;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }

  &__volver {
    @include m.boton(v.$verdeOscuro, v.$blanco);
    width: auto;
    border-radius: 1rem;
  }

  // Diseño de la tabla
  &__table {
    width: 100%;
    border: 1px solid v.$grisClaro;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }

  &__caption {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0rem;
  }

  tr {
    background-color: v.$azulCeleste;
  }

  &__body tr {
    margin-bottom: 10px;
    border-bottom: 5px solid v.$grisClaro;
    display: block;
  }

  &__listado:hover {
    background-color: rgba($color: v.$azulCeleste, $alpha: 0.7);
  }

  &__listado td:hover {
    background-color: rgba($color: v.$azul, $alpha: 0.8);
    color: v.$blanco;
  }

  // Convertir tabla a filas
  &__encabezado {
    display: none;
  }

  &__listado td {
    display: block;
    border: 0.5px solid rgba($color: v.$grisClaro, $alpha: 0.2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;

    &::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__modificar {
    @include m.boton(v.$rojo, v.$blanco);
    padding: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    width: auto;
  }

  @include m.desktop {
    .nombre {
      width: 20%;
    }

    .email {
      width: 25%;
    }

    th {
      font-size: 1.3rem;
      padding: 0.5rem;
      text-align: center;
      font-weight: bold;
      display: table-cell;
      vertical-align: inherit;
    }

    &__encabezado {
      text-align: center;
      text-transform: uppercase;
      background-color: v.$azul;
      color: v.$blanco;
    }

    &__body tr {
      border-bottom: none;
      display: table-row;
      width: 100%;
    }

    &__listado td {
      display: table-cell;
      text-align: center;
      font-size: 1.3rem;
      border: none;

      &::before {
        content: none;
      }
    }
  }

  &__funcionarios,
  &__admin,
  &__inactivos {
    @include m.boton(v.$blanco, v.$negro);
    width: auto;
    border: 1px solid v.$negro;
    -webkit-box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.75);
  }
}

.espacio {
  height: 0.5rem;
}
